.header{

    position: absolute;
    top: 0;
    right: 0;
    
    width: 100vw;

    height: 30%;
    background: linear-gradient(180deg, #110251 0%, rgba(17, 2, 81, 0) 100%);
    mix-blend-mode: normal;
}

.nav{
    display: flex;
    justify-content: flex-end;
}
.ul_1{
    margin: 1.5em 2em 0 0;
    display: flex;
    align-items: center;
}
    @media only screen and (max-width: 768px) {
        
        .ul_1{
            display: none;
        }
    }

.li{
    width: max-content;
    text-transform: capitalize;

    list-style: none;
    margin: 20px;

    transition: all .5s;
}

.li a{

    font-size: 1.1em;

    text-decoration: none;
    color: white;
    padding: .3em 1.5em;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid white;

    transition: all 1s;
}

.li a:hover{

    text-decoration: none;
    background: linear-gradient(180deg, #B33FFF 0%, #FF7F83 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #B33FFF;
}

.li:hover{
    
    padding: 0.4em 0 0.4em 0;
    border-radius: 25px;
    background-color: white;
}



.li_emphasis{
    cursor: pointer;
    list-style: none;
    margin: 20px;
    background-color: white;

    background-color: white;
    border-radius: 50px;

    padding: 1em 1.5em;

    transition: all ease-in 0.5s;
}

.li_emphasis a{
    padding: 1em 2em;
    
    transition: all ease-in 0.7s;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    background: linear-gradient(180deg, #B33FFF 0%, #FF7F83 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #B33FFF;
}

.li_emphasis:hover{
    background: linear-gradient(180deg, #B33FFF 0%, #FF7F83 100%);
    color: white;
}

.li_emphasis a:hover{

    font-weight: bold;
    font-size: 1.5em;

    text-decoration: none;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* HAMBURGUER */

    @media only screen and (min-width: 768px) {
        
        .ul_2{
            display: none;
            transition: all ease-in 1s;
        }

        .hamburger{
            display: none;
        }
    }

    @media only screen and (max-width: 768px) {
        .hamburger{
            position: absolute;
            top: 30px;
            right: 30px;
        }
        .ul_2{
            transition: all ease-in 1s;

            width: 100vw;
        }



        
        .li a:hover{

            text-decoration: none;
            background: linear-gradient(180deg, #B33FFF 0%, #FF7F83 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #B33FFF;
        }

        .li:hover{
            padding: 10px;
            border-radius: 25px;
            background-color: white;
        }

        .li_emphasis,
        .li_emphasis:hover,
        .li_emphasis a,
        .li_emphasis a:hover{
            padding: 1em 1.5em !important;
        }



        
    }